/*
Custom Css
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f6f6f6;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.flex-remedycard {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}


.panel {
  float: left;
  margin: 100px auto 40px;
  max-width: 500px;
  text-align: center;
}
.button_outer {
  flex: 2;
  /* float: right; */
  height: 100%;
  background: #29394e ;
  border-radius: 30px;
  text-align: center;
  margin-top: 100px;
  height: 50px;
  width: 200px;
  display: inline-block;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
.btn_upload {
  padding: 17px 30px 12px;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  white-space: nowrap;
}
.btn_upload input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}
.file_uploading {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  background: #ccc;
}
.file_uploading .btn_upload {
  display: none;
}
.processing_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background: #29394e ;
  transition: 3s;
}
.file_uploading .processing_bar {
  width: 100%;
}
.success_box {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.success_box:before {
  content: "";
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 17px;
  top: 10px;
}
.file_uploaded .success_box {
  display: inline-block;
}
.file_uploaded {
  margin-top: 0;
  width: 50px;
  background: #29394e ;
  height: 50px;
}
.uploaded_file_view {
  max-width: 300px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  transition: 0.2s;
  opacity: 0;
  border: 2px solid #ddd;
  padding: 15px;
}
.file_remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #aaa;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  right: -15px;
  top: -15px;
}
.file_remove:hover {
  background: #29394e;
  transition: 0.2s;
}
.uploaded_file_view img {
  max-width: 100%;
}
.uploaded_file_view.show {
  opacity: 1;
}
.error_msg {
  text-align: center;
  color: #f00;
}
/* ===== Resets and Housekeeping ===== */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

/* ===== Actual Styles ===== */

/* ===== Horizontal Rule ===== */
.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
  font-size: 1rem;
  display: inline-block;
  margin: 3em 2em;
  width: 500px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  content: "\f063";
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: #fff;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 2.3em;
  color: #ffffff;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #fff;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: "\f00c";
  font-family: "Roboto", sans-serif;
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  flex: 1;
  height: 0%; 
  z-index: 3;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
} */

span {
  padding: 30px;
  background: #59ab6e;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "";
}


.slidee {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
}

.img-fluid {
  aspect-ratio: 16/10;
}

/* results */

.results{
  display: flex;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 20%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
iframe {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

/* result tab  */
/* .results{
  display: flex;
align-items: center;
/* justify-content: center;
} */

.resultcard {
  margin-inline: 500px 500px;
  /* width: 70%; */
  height: 254px;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #59ab6e, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #59ab6e, #11998e);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
 }
 
 .resultcard-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .resultcard-avatar {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
 }
 .plant-img{
width: 5rem;
 }
 
 /*resultcard footer*/
 .resultcard-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .resultcard-social__item {
  list-style: none;
 }
 
 .resultcard-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }
 
 /*Text*/
 .resultcard-title {
  color: beige;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .resultcard-subtitle {
  color: #b7babb;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .resultcard:hover {
  box-shadow: 0 8px 50px #23232333;
 }
 
 .resultcard:hover .resultcard-info {
  transform: translateY(-5%);
 }
 
 .resultcard:hover .resultcard-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
 .resultcard-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .resultcard-avatar:hover {
  transform: scale(1.1);
 }



  /* remedy css */

  .remedy{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .remedycard {
    margin-top: 15px;
    width: 30rem;
    cursor: pointer;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: #59ab6e;
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .remedycard:hover .content {
    transform: rotateY(0.5turn);
  }
  
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    height: auto;
    transform: translateZ(5rem);
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: hidden;
  }
  
  .subtitle {
    position: absolute;
    transform: translateZ(2rem);

  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #59ab6e;
    /* white-space: nowrap; */
    text-overflow: hidden;
  }
  
  .description {
    z-index: 3;
    transform: translateZ(3rem);
  }
  

  /* link button */
  .cta {
    z-index: 1;
    margin-top: -3rem;
    margin-bottom: -2rem;
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
/*-----------------------Media Queries---------------------  */
@media (max-width:1500px){
  .flex-remedycard{
    flex-direction: column;
    align-items: center;
  }
  .sel{
    width: 75%;
  }
  .resultcard {
    margin: 0 0 0 0;  
    /* width: 70%; */
    margin-inline: 200px 200px;
  }
}

