<!DOCTYPE html>
<html lang="en">

<head>
    <title>NurtureIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/templatemo.css">
    <link rel="stylesheet" href="../static/css/custom.css">
<link rel="stylesheet" href="..static/scc/result.scss">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                NurtureIt
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto"> 
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="4"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="5"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="6"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="7"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Apple</b></h1>
                                <p>
                                    Apples are most commonly eaten fresh but can also be used for baking and cooking. 
                                    Apples can also be processed into apple sauce, cider, vinegar, juice or butter while slices can be dried for later consumption.
                                    Apple tree can have can have diseases like : 
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Apple_scab" target="_blank">Apple Scab</a> <br></li>
                                        <li><a rel="sponsored" class="text-success" href="http://omafra.gov.on.ca/english/crops/facts/blackrot.htm#:~:text=Black%20rot%20is%20an%20important,for%20nearby%20younger%20bearing%20blocks." target="_blank">Apple Black-Rot</a>  <br></li>
                                        <li><a rel="sponsored" class="text-success" href="https://www.fs.usda.gov/wildflowers/plant-of-the-week/gymnosporangium_juniperi-virginianae.shtml" target="_blank">Apple Black-Rot</a>  <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Bell Pepper</b></h1>
                                <p>
                                    Bell pepper, (Capsicum annuum), also called sweet pepper or capsicum, pepper cultivar in the nightshade family (Solanaceae), grown for its thick,
                                     mild fruits. Bell peppers are used in salads and in cooked dishes and are high in vitamin A and vitamin C.
                                    Bell Paper can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://extension.wvu.edu/lawn-gardening-pests/plant-disease/fruit-vegetable-diseases/bacterial-leaf-spot-of-pepper#:~:text=Bacterial%20leaf%20spot%2C%20caused%20by,2005)." target="_blank">Bell Pepper Bacterial Spot</a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Cherry</b></h1>
                                <p>
                                    A cherry is the fruit of many plants of the genus Prunus, and is a fleshy drupe (stone fruit).
                                    Commercial cherries are obtained from cultivars of several species, such as the sweet Prunus 
                                    avium and the sour Prunus cerasus. 
                                    Cherry can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://pnwhandbooks.org/plantdisease/host-disease/cherry-prunus-spp-powdery-mildew" target="_blank">Cherry Powdery Mildew </a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_04.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Corn</b></h1>
                                <p>
                                    Maize also known as corn , is a cereal grain first domesticated by indigenous peoples in southern Mexico about 10,000 years ago. 
                                    The leafy stalk of the plant produces pollen inflorescences (or "tassels") and separate ovuliferous inflorescences called ears that when fertilized yield kernels or seeds, which are fruits.
                                    Corn can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://www.pioneer.com/us/agronomy/gray_leaf_spot_cropfocus.html#:~:text=Gray%20leaf%20spot%20(GLS)%20is,for%2012%20hours%20or%20more." target="_blank">Corn Cercospora Leaf Spots </a> <br></li>
                                        <li><a rel="sponsored" class="text-success" href="https://www.pioneer.com/us/agronomy/common_rust_corn_cropfocus.html#:~:text=Common%20rust%20is%20a%20foliar,yield%20loss%20than%20southern%20rust." target="_blank">Corn Common Rust </a> <br></li>
                                        <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Northern_corn_leaf_blight" target="_blank">Corn Northern Leaf Blight</a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_05.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Grape</b></h1>
                                <p>
                                    A grape is a fruit, botanically a berry, of the deciduous woody vines of the 
                                    flowering plant genus Vitis. Grapes are a non-climacteric type of fruit, generally 
                                    occurring in clusters.
                                    Grape can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Black_rot_(grape_disease)" target="_blank">Grape Black Rot</a> <br></li>
                                        <li><a rel="sponsored" class="text-success" href="https://grapes.extension.org/grapevine-measles/" target="_blank">Grape Black Measles</a> <br></li>
                                        <li><a rel="sponsored" class="text-success" href="https://www.invasive.org/collections/viewcollection.cfm?ser=72222#:~:text=(Vitus%20sp.)-,Leaf%20blight%2C%20also%20called%20Isariopsis%20leaf%20spot%20(Pseudocercospora%20vitis),on%20Grape%20(Vitus%20sp.)&text=Scattered%2C%20somewhat%20angular%2C%20purple%2D,spots%20on%20upper%20leaf%20surface.&text=Corresponding%2C%20less%20conspicuous%2C%20brown%20spots%20on%20lower%20leaf%20surface.&text=Numerous%20scattered%2C%20somewhat%20angular%2C%20purple,spots%20on%20upper%20leaf%20surface." target="_blank">Grape Isariopsis Leaf Spot</a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_06.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Peach</b></h1>
                                <p>
                                    The peach (Prunus persica) is a deciduous tree first domesticated and cultivated in Zhejiang province of Eastern China. 
                                    It bears edible juicy fruits with various characteristics, 
                                    most called peaches and others (the glossy-skinned, non-fuzzy varieties), nectarines.
                                    Peach can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://www.canr.msu.edu/ipm/agriculture/fruit/bacterial_spot_of_peach_and_plum#:~:text=Bacterial%20spot%20is%20an%20important,leaf%20spots%20and%20twig%20cankers." target="_blank">Grape Black Rot</a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_07.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Potato</h1>
                                <p>
                                    The potato is a starchy food, a tuber of the plant Solanum tuberosum and is a root 
                                    vegetable native to the Americas. The plant is a perennial in the nightshade family Solanaceae.
                                    Potato can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://ipm.ucanr.edu/agriculture/potato/early-blight/#:~:text=Early%20blight%20is%20primarily%20a,produce%20characteristic%20target%2Dboard%20effect." target="_blank">Potato Early Blight</a> <br></li>
                                        <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Phytophthora_infestans" target="_blank">Potato Late Blight</a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../static/img/banner_img_08.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Strawberry</h1>
                                <p>
                                    The garden strawberry is a widely grown hybrid species of the genus Fragaria, collectively known as the strawberries, 
                                    which are cultivated worldwide for their fruit. The fruit is widely appreciated for its characteristic aroma, bright red 
                                    color, juicy texture, and sweetness. It is consumed in large quantities, either fresh or in such prepared foods as jam, juice, 
                                    pies, ice cream, milkshakes, and chocolates.
                                    Strarberry can have disease like :
                                    <br>
                                    <ul>
                                        <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Diplocarpon_earlianum" target="_blank">Strawberry Leaf Scorch</a> <br></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="../static/img/banner_img_09.jpeg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">Tomato</h1>
                            <p>
                                The tomato is the edible berry of the plant Solanum lycopersicum, commonly known as the tomato plant. 
                                Tomatoes are a significant source of umami flavor. They are consumed in diverse ways: raw or cooked, 
                                and in many dishes, sauces, salads, and drinks. While tomatoes are fruits—botanically classified as 
                                berries—they are commonly used culinarily as a vegetable ingredient or side dish.
                                Tomato can have disease like :
                                <br>
                                <ul>
                                    <li><a rel="sponsored" class="text-success" href="https://hort.extension.wisc.edu/articles/bacterial-spot-of-tomato/#:~:text=Bacterial%20spot%20of%20tomato%20is,as%20well%20as%20in%20greenhouses." target="_blank">Tomato Bacterial Spot</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://ipm.ucanr.edu/agriculture/tomato/late-blight/#:~:text=Symptoms%20and%20Signs-,Symptoms%20and%20Signs,may%20appear%20around%20the%20blotches." target="_blank">Tomato Late Blight</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://ipm.ucanr.edu/agriculture/tomato/late-blight/#:~:text=Symptoms%20and%20Signs-,Symptoms%20and%20Signs,may%20appear%20around%20the%20blotches." target="_blank">Tomato Late Blight</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://extension.umn.edu/disease-management/tomato-leaf-mold" target="_blank">Tomato Leaf Mold</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://portal.ct.gov/CAES/Fact-Sheets/Plant-Pathology/Septoria-Leaf-Spot-of-Tomato#:~:text=Septoria%20leaf%20spot%20is%20caused,%2C%20stems%2C%20and%20the%20calyx." target="_blank">Tomato Septoria Leaf Spot</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://www.vegetables.bayer.com/ca/en-ca/resources/agronomic-spotlights/target-spot-of-tomato.html#:~:text=Target%20spot%20of%20tomato%20is,in%20Immokalee%2C%20Florida%20in%201967." target="_blank">Tomato Target Spot</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Tomato_yellow_leaf_curl_virus" target="_blank">Tomato Yellow Leaf Curl Virus</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://en.wikipedia.org/wiki/Tomato_mosaic_virus" target="_blank">Tomato Mosaic Virus</a><br></li>
                                    <li><a rel="sponsored" class="text-success" href="https://www.dpi.nsw.gov.au/biosecurity/plant/insect-pests-and-plant-diseases/Tomato-red-spider-mite#:~:text=The%20tomato%20red%20spider%20mite,dense%20webbing%20can%20mummify%20plants." target="_blank">Tomato Spider Mites</a><br></li>

                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- For Getting image as input -->
    <div class="flex-remedycard">
              
             
            <div  class="sel sel--black-panther">
                <select name="select-profession" id="select-profession">
                  <option value="" disabled>Select Plant Name</option>
                  <option value="apple">Apple</option>
                  <option value="bellpepper">Bell Pepper</option>
                  <option value="cherry">Cherry</option>
                  <option value="corn">Corn</option>
                  <option value="grape">Grape</option>
                  <option value="peach">Peach</option>
                  <option value="potato">Potato</option>
                  <option value="strawberry">Strawberry</option>
                  <option value="tomato">Tomato</option>
                </select>
              </div>
              <!-- <div class="uplod"> -->
            	<!-- <div class="remedycard"> -->
                        <div class="button_outer">
                            <div class="btn_upload">
                                <input type="file" id="upload_file" name="">
                                Upload Image
                            </div>
                            <div class="processing_bar"></div>
                            <div class="success_box"></div>
                        </div>
                    <!-- </div> -->
                    <div class="error_msg"></div>
                    <div class="uploaded_file_view" id="uploaded_view">
                        <span class="file_remove">X</span>
                    </div>
    </div>
    
    <section id="section10" class="demo">
        <a href="#results"><span></span></a>
      </section>

    

<div id="results">
    
</div>
<div class="my-5 mb-5 mx-3 remedy" id="remedyy">
</div>
    

    <!-- Do not remove from HERE. ADD BUTTON BELOW! -->
    <script src="https://apis.google.com/js/api.js"></script>
    
        
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">NurtureIt</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Manipal University Jaipur
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:+91 **********">+91 **********</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:it@demo.com">it@demo.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2023 NurturePDF
                            | Designed by <a rel="sponsored" href="#" target="_blank">Sudhanshu & Archit & Vansh </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="../static/js/index.js"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/templatemo.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../"></script>
    <!-- End Script -->
</body>

</html>